body {
    font-family: 'Arial', sans-serif;
    /* margin: 0;
    padding: 0; */
    background-color: #0b693f;
    background-image: url('bg.jpg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;  
    background-size: cover;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #62d05d;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0b693f;
    color: white;
  }


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#plant-details {
    display: none;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}